.photo{
    opacity: .7;
    filter: alpha(opacity=50);
}
#title{
    background-color: rgb(63, 144, 211);
    padding: 10px;
    color: white;
  
    font-size: 20px !important;
}
.text-size{
    font-size: 40px;
    letter-spacing: 3px;
}
#sendMessageBtn{
    background:#003366;
    float: right;
}
#color{
    color:#003366;
    outline-color: #003366;
}
.hr {
    /* display: block; */
   padding-bottom: 10px;
   border-bottom: 2px solid #003366;
   opacity: .8;
}
