.tab {
      overflow: hidden;
      border: 8px solid #ccc;
      border-radius: 5px;
      background-color:white;  
  }
  .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
}
div.container{
      padding: 70px;
      margin-top: 150px;
      background-color:#F08080;
      border-radius: 7px;
      opacity: .8;
}
  
  /* Style the buttons inside the tab */
  .tab button {
      background-color: inherit;
      float: bottom;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
      background-color: #8dc6ff;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
      background-color: #8dc6ff;
  }
  

  /* Style the tab content */
  .tabcontent {
      display: none;
      border: 1px solid white;
      border-top: none;
      background-color: #003d7a;
      padding: 120px;
      opacity: .8;
      color:white;
      
  }
  .photo{
      opacity: .9;
      filter: alpha(opacity=50);
}
.left {
      left: 0;
}
.dot {
      height: 80px;
      width: 80px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      position: relative;
}
#title{
      background-color: #003366;
      padding: 10px;
      color: white;
      opacity: .8;
      font-size: 20px !important;
  }
  .text-size{
      font-size: 40px;
      letter-spacing: 3px;
  }
form{
      display: inline-block;
}
 
/* .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
      
}
.button{
      margin-top: 70px; 
}
.left {
      left: 0;
}

.right {
      right: 0;
}

.centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
}
.inside{
      background-color: #ccccff;
      padding: 200px;
      margin: 0px;
}
.inside2{
      background-color: #b3f0ff;
      padding: 200px;
      margin: 0px;
}
div.container{
      padding: 70px;
      margin-top: 150px;
      background-color:azure;
      border-radius: 7px;
}
div.container2{
      background-color: #9999ff;
      padding: 70px;
}
.dot {
      height: 80px;
      width: 80px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
}
.photo{
      opacity: .5;
      filter: alpha(opacity=50);
}
.tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
  }
  .tab button:hover {
      background-color: #ddd;
  }
  .tab button.active {
      background-color: #ccc;
  }
  .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
  } */