.split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
      
}
.button{
      margin-top: 70px; 
}
.left {
      left: 0;
      background-color: #00a3cc;
}

.right {
      right: 0;
      background-color:#9999ff;
}

.centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
}
.inside{
      background-color: #ccccff;
      padding: 200px;
      margin: 0px;
}
.inside2{
      background-color: #b3f0ff;
      padding: 200px;
      margin: 0px;
}
div.container{
      background-color: #00a3cc;
      padding: 70px;
      margin-top: 150px;
}
div.container2{
      background-color: #9999ff;
      padding: 70px;
}

